In [3]:
#Importing necessary libraries

import pandas as pd

In [4]:
# *Fetching input file and setting the path to store processed file
input_file = 'Raw_Chicago_Food_Inspections.csv'

preprocessed_file = 'Outputs/Processed_Chicago_Food_Inspections.csv'

In [5]:
# Reading the raw input csv file.
food_inspections_df = pd.read_csv(input_file)

In [6]:
#Getting basics insights on the dataset.

food_inspections_df.shape

#The dataset contains 114571 rows and 24 columns.

(114571, 24)

In [7]:
#Viewing of the dataset

food_inspections_df.head()

,inspection_id,DBA Name,AKA Name,License Number,Facility_Type,Risk,Address,City,State,Zip,...,Latitude,Longitude,Point_id,Ward,Census Tracts,Community Areas,Fine,Category,Point_level,Inspector_Comments
0,1983114,Hong Kong Buffet Corporation,HONG KONG BUFFET,1273946,Restaurant,Risk 1 (High),6249 N MCCORMICK RD,CHICAGO,IL,60659,...,41.995441,-87.712917,1,NaN,NaN,NaN,500,Food Protection,Critical,NOTED FOOD NOT IN SOUND CONDITION. NOTED A BAG...
1,1982908,Pete's Fresh Market,PETE'S FRESH MARKET,2309123,Grocery Store,Risk 1 (High),2333 W MADISON ST,CHICAGO,IL,60612,...,41.881069,-87.685308,1,NaN,NaN,NaN,500,Food Protection,Critical,"FOUND OYSTERS, CLAMS, AND MUSSELS COMINGLING W..."
2,1982488,Quality Catering,QUALITY CATERING,2500820,Mobile Food Dispenser,Risk 3 (Low),1204 W 36TH PL,CHICAGO,IL,60609,...,41.828094,-87.655854,1,NaN,NaN,NaN,500,Food Protection,Critical,NO APPROVED COMMISSARY. FOOD MUST COME FROM AN...
3,1981443,Calmeca Academy Of Fine Arts And Dual Language,CALMECA ACADEMY,2321636,School Cafeteria,Risk 1 (High),3456 W 38TH ST,CHICAGO,IL,60632,...,41.824405,-87.711609,1,NaN,NaN,NaN,500,Food Protection,Critical,OBSERVED 343 HALF PINT CONTAINERS OF MILK OUT ...
4,1976633,Mariano's,MARIANO'S,2313619,Grocery Store,Risk 1 (High),1800 W LAWRENCE AVE,CHICAGO,IL,60640,...,41.968926,-87.674586,1,NaN,NaN,NaN,500,Food Protection,Critical,FOUND 2 TRAYS WITH RAW FRESH OYSTER WITHOUT TA...

In [8]:
#Checking for 'Uniqueness' in column 'inspection_id'

pd.Series(food_inspections_df["inspection_id"]).is_unique

True

In [9]:
# **Transformations**

#After viewing the df, it was noticed that there are mixed case letters. Converting entire dataframe to titlecase for 'Consistency'

food_inspections_df = food_inspections_df.applymap(lambda s: s.title() if type(s) == str else s)

In [10]:
#Implementing 'Consistency' on column 'City'.

food_inspections_df['City'].unique()

array(['Chicago', 'Cchicago', 'Chiccaago', 'Chicagoi', 'Chchicago',
       'Chestnut Street', 'Summit', nan, 'Chcicago', 'Bedford Park',
       'Charles A Hayes'], dtype=object)

In [11]:
food_inspections_df["City"] = food_inspections_df["City"].replace(["Chicagoi", "Cchicago", "Chchicago", "Chcicago", "nan", "Chiccaago"], "Chicago")

In [12]:
#Implementing 'Consistency' and 'Validity' on column 'Inspection_Type'
food_inspections_df['Inspection_Type'].unique()

array(['Canvass', 'Complaint', 'License', 'Short Form Complaint',
       'Canvass Re-Inspection', 'Suspected Food Poisoning',
       'Complaint Re-Inspection', 'License Re-Inspection', 'Consultation',
       'Complaint-Fire Re-Inspection', 'Complaint-Fire',
       'Task Force Liquor 1475', 'License-Task Force', 'Sfp/Complaint',
       'Tag Removal', 'Recent Inspection',
       'Suspected Food Poisoning Re-Inspection',
       '1315 License Reinspection',
       'License Renewal Inspection For Daycare', 'Task Force',
       'Short Form Fire-Complaint', 'Package Liquor 1474', 'Sfp',
       'Reinspection Of 48 Hour Notice', 'Special Events (Festivals)',
       'Re-Inspection Of Close-Up', 'Liquor Catering',
       'Special Task Force', 'No Entry', 'Illegal Operation',
       'Pre-License Consultation', 'Task Force(1470) Liquor Tavern',
       'Task Force Night', 'Tavern 1470', 'People Ate And Got Sick.',
       'Non-Inspection', 'Task Force Package Liquor', 'Reinspection',
       'Canvass/Special Event', 'Possible Fbi', 'Expansion',
       'Smoking Complaint', 'Canvas', 'Canvass For Rib Fest',
       'Canvass Special Events', 'Canvass School/Special Event',
       'Day Care License Renewal', 'Citf'], dtype=object)

In [13]:
food_inspections_df["Inspection_Type"] = food_inspections_df["Inspection_Type"].replace(["Canvas"], "Canvass")
food_inspections_df["Inspection_Type"] = food_inspections_df["Inspection_Type"].replace(["Canvass/Special Event", "Canvass School/Special Event"], "Canvass Special Events")
food_inspections_df["Inspection_Type"] = food_inspections_df["Inspection_Type"].replace(["Sfp"], "Sfp/Complaint")

In [14]:
#Implementing 'Consistency' and 'Validity', 'Accuracy' on column 'DBA Name'

food_inspections_df['DBA Name'] = food_inspections_df['DBA Name'].replace(["Starbucks", "Starbucks", "Starbucks (franchisee)", "Starbucks #231"],"Starbucks Coffee")
food_inspections_df['DBA Name'] = food_inspections_df['DBA Name'].replace(["C-K Subway","Subway", "Subway Restaurant", "Downtown Bp & Subway", "Subway Sandwiches", "Subway / Tcby", "Subway Sandwich", "Subway Sandwiches #22222", "Subway Restaurant #35406", "Subway Sandwich & Salad", "Subway Sandwiches #27143", "Subway Store #30969", "Subway Sandwich Shop", "Subway Store  # 25458", "Subway Sanwich Shop", "Lakeview Subway", "Subway Restaurant 1", "Subway At Norwegian American Hospital", "Subway Subs And Salads", "Subway Sandwiches", "Subway Sandwich Store", "Shell Subway"],"Subway Sandwiches & Salad")
food_inspections_df['DBA Name'] = food_inspections_df['DBA Name'].replace(["Target #t-2373", "Target - Store T-1488", "Target #1924"],"Target")
food_inspections_df['DBA Name'] = food_inspections_df['DBA Name'].replace(["Burger King Restaurant", "Burger King Restaurant # 5495"],"Burger King")
food_inspections_df['DBA Name'] = food_inspections_df['DBA Name'].replace(["Sodexho- Iit", "Sodexo America, Llc", "Sodexo At Cchhs Stroger Hospital", "Sodexho"],"Sodexo America")
food_inspections_df['DBA Name'] = food_inspections_df['DBA Name'].replace(["Mcdonald'S Corporation", "Mcdonalds'S Restaurants", "Mcdonald'S Store #4061"],"McDonalds")

In [15]:
food_inspections_df['DBA Name'].unique()

array(['Hong Kong Buffet Corporation', "Pete'S Fresh Market",
       'Quality Catering', ..., 'La Michoacana Jugolandia #1 Ltd',
       'Kikka At Whole Foods Edgewater', 'Canaryville S A C'],
      dtype=object)

In [16]:
#Implementing 'Consistency' and 'Validity', 'Accuracy' on column 'Facility_Type'

food_inspections_df['Facility_Type'] = food_inspections_df['Facility_Type'].replace(["Dollar Store", "Dollar Store Selling Grocery"],"Dollar & Grocery Store")
food_inspections_df['Facility_Type'] = food_inspections_df['Facility_Type'].replace(["Icecream", "Ice Cream Parlor"],"Icecream Shop")

In [17]:
#Implementing 'Conformity', 'Validity','Accuracy' on column 'State'

food_inspections_df['State'] = food_inspections_df['State'].replace(["Il"],"IL")

In [18]:
food_inspections_df['State'].unique()

array(['IL', nan], dtype=object)

In [19]:
#Checking for count of null values in column 'City' and 'State'

food_inspections_df['City'].isnull().sum()

19

In [20]:
food_inspections_df['State'].isnull().sum()

5

In [21]:
#Implementing 'Completeness' on columns 'City' and 'State'

food_inspections_df["City"] = food_inspections_df["City"].fillna("Chicago")

In [22]:
food_inspections_df['State'] = food_inspections_df['State'].fillna("IL")

In [23]:
food_inspections_df['State'].unique()

array(['IL'], dtype=object)

In [24]:
#Dropping columns 'Ward', 'Census Tracts' and 'Community Areas' as they are empty 

food_inspections_df = food_inspections_df.drop(['Ward', 'Census Tracts', 'Community Areas'], axis = 1)

In [25]:
# **Staging the file after processing/cleaning it the transformation stage**

food_inspections_df.to_csv(preprocessed_file, encoding='utf-8', index=False)